async-timeout==4.0.3
autopep8==2.3.1
black==24.4.2
blinker==1.8.2
cachelib==0.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flask-PyMongo==2.3.0
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jsonpickle==3.2.2
MarkupSafe==2.1.5
mypy-extensions==1.0.0
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
passlib==1.7.4
pathspec==0.12.1
platformdirs==4.2.2
pycodestyle==2.12.0
PyJWT==2.8.0
pymongo==4.8.0
python-dotenv==1.0.1
redis==5.0.7
requests==2.32.3
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
flake8
